/* Buttons Styles here*/

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #ff6b00;
  padding: 1.6rem 3.2rem;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #e66000;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #ff6b00;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #2f3037;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #26262c;
  border-bottom: 1px solid transparent;
}

a:focus {
  outline: none;
}
